<div class="grid-container">
    <div class="background-image">
      <div class="overlay">
        <!-- Avatar Selection List -->
        <div class="avatar-selection" *ngIf="!selectedAvatar">
          <div *ngFor="let avatar of avatars" class="avatar" (click)="selectAvatar(avatar)">
            <img [src]="avatar" alt="Avatar">
          </div>
        </div>
  
        <!-- Display Selected Avatar -->
        <div *ngIf="selectedAvatar" class="selected-avatar-display">
          <img [src]="selectedAvatar" alt="Selected Avatar">
          <button (click)="selectAvatar('')">Change Avatar</button>
        </div>

         <!-- Button to navigate to friends component -->
        <button class="btn navigate-to-friends" (click)="navigateToFriends()">View Friends</button>
  
        <!-- Other UI Elements Remain Unchanged -->
        <div class="player-rating-circle">
          <svg width="120" height="120" viewBox="0 0 120 120">
            <circle cx="60" cy="60" r="54" stroke="#ddd" stroke-width="12" fill="none"></circle>
            <circle cx="60" cy="60" r="54" stroke="#4CAF50" stroke-width="12" fill="none"
                    stroke-dasharray="339.292" [attr.stroke-dashoffset]="339.292 * (1 - averageRating / 99)"></circle>
            <text x="50%" y="50%" font-size="32" text-anchor="middle" stroke="#000" stroke-width="1px" dy=".3em">{{user?.score}}</text>
          </svg>
        </div>
      <div *ngIf="user">
          <p class="player-name">{{user.username}}</p>
      </div>
        
        <app-setup-game #teamSetupModal [HostID] = user?._id ></app-setup-game>
        <button class="btn start-game" (click)="teamSetupModal.showModal()">Start Game
        </button>
        <app-join-game #teamJoinModal ></app-join-game>
        <button class="btn join-game" (click)="teamJoinModal.showModal()">Join game</button>

      </div>
    </div>
  </div>
  