<div class="grid-container">
  <div class="background-image">
    <div class="overlay">
      <div class="container">
        <!-- Register Form -->
        <div class="form register">
          <h1>Register</h1>
          <form action="#" method="post">
            <!-- Corrected: Removed the duplicate email input -->
            <input type="text" placeholder="enter username" [(ngModel)]="user.username" name="username" required="">
            <input type="email" placeholder="Enter your email" [(ngModel)]="user.email" name="email" required>
            <input type="password" placeholder="Enter your password" [(ngModel)]="user.password" name="password" required>
            <input type="submit" (click)="registeruser()" class="button" value="Register">
          </form>
          <div class="register">
            <span class="register">Already have an account?
             <a href="/login">Login</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
