<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Register Form</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="background-image">
    <div class="overlay">
      <div class="container">
        <!-- Register Form -->
        <div class="form register">
          <h1>Register</h1>
          <form action="#" method="post">
            <input type="email" placeholder="Enter your email" required>
            <input type="password" placeholder="Enter your password" required>
            <input type="password" placeholder="Confirm Password" required>
            <input type="submit" class="button" value="Register">
          </form>
          <div class="register">
            <span class="register">Already have an account?
             <a href="#">Login</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
