<div class="grid-container">
  <div class="background-image">
    <div class="overlay">
      <div class="background-image">
        <div class="overlay">
          <div class="container">
            <!-- Login Form -->
            <div class="form login">
              <h1>Login</h1>
              <form action="#" method="post">
                <input type="email" placeholder="Enter your email" required>
                <input type="password" placeholder="Enter your password" required>
                <a href="#">Forgot password?</a>
                <input type="submit" (click)="loginuser()" class="button" value="Login">
                <p>Not registered yet? <a href="/register">Click here!</a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>