<div class="grid-container">
  <div class="background-image">
    <div class="overlay">
      <div class="background-image">
        <div class="overlay">
          <div class="container">
            <!-- Login Form -->
            <div class="form login">
              <h1>Login</h1>
              <form (ngSubmit)="loginUser()">
                <input type="email" placeholder="Email" [(ngModel)]="tempUser.email" name="email">
                <input type="password" placeholder="Password" [(ngModel)]="tempUser.password" name="password">
                <button type="submit" class="button">Login</button>
              </form>
              <p>Not registered yet? <a href="/register">Click here!</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>