<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login Form</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="background-image">
    <div class="overlay">
      <div class="container">
        <!-- Login Form -->
        <div class="form login">
          <h1>Login</h1>
          <form action="#" method="post">
            <input type="email" placeholder="Enter your email" required>
            <input type="password" placeholder="Enter your password" required>
            <a href="#">Forgot password?</a>
            <input type="submit" class="button" value="Login">
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
