
<div class="grid-container">


  <div class="background-image">
    <div class="overlay">
      <div class="container">
        <!-- Register Form -->
        <div class="form register">
          <h1>Register</h1>
          <form action="#" method="post">
            <input type="email" placeholder="Enter your email" required>
            <input type="password" placeholder="Enter your password" required>
            <input type="password" placeholder="Confirm Password" required>
            <input type="submit" class="button" value="Register">
          </form>
          <div class="register">
            <span class="register">Already have an account?
             <a href="/login">Login</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
