<main>
    <div class="marquee" hidden>
        <span class="marquee__letter">G</span>
        <span class="marquee__letter">o</span>
        <span class="marquee__letter">o</span>
        <span class="marquee__letter">o</span>
        <span class="marquee__letter">a</span>
        <span class="marquee__letter">a</span>
        <span class="marquee__letter">a</span>
        <span class="marquee__letter">l</span>
        <span class="marquee__letter">l</span>
        <span class="marquee__letter">l</span>
    </div>
    <div class="points">
        <span class="points__team points__team--blue">0</span>
        <span class="points__versus">&#215;</span>
        <span class="points__team points__team--red">0</span>
    </div>
</main>

<aside class="tools">
    <button id="tool-score-blue" title="Blue goal" type="button" class="tools__button tools__button--blue">⚽️</button>
    <button id="tool-win-blue" title="Blue win" type="button" class="tools__button tools__button--blue">🏆</button>
    <button id="tool-score-red" title="Red goal" type="button" class="tools__button tools__button--red">⚽️</button>
    <button id="tool-win-red" title="Red win" type="button" class="tools__button tools__button--red">🏆</button>
</aside>

<script id="serialized-team-map" type="application/json">
    {
        "blue": {
            "name": "blue",
            "points": 0,
            "colorAsHex": "#3498DB"
        },
        "red": {
            "name": "red",
            "points": 0,
            "colorAsHex": "#E74C3C"
        }
    }
</script>