<div class="grid-container">
    <div class="background-image">
      <div class="overlay">
        <div class="button-container">
            <div *ngIf="showInviteScreen" class="backdrop" (click)="closeInviteScreen()"></div>
            <button (click)="openInviteScreen()">Invite</button>
            <button id="matchmakingButton">Matchmaking</button>
            <app-invite-screen *ngIf="showInviteScreen" (close)="closeInviteScreen()"></app-invite-screen>
        </div>
    </div>
    </div>
</div>