<div class="grid-container">
    <div class="background-image">
      <div class="overlay">
        <div class="button-container">
            <!-- host.component.html -->

            <!-- <button (click)="inviteScreenComponent.openInviteScreen()">Invite</button> -->
            <!-- <app-invite-screen #inviteScreenComponent></app-invite-screen> -->
            <button id="inviteScreen" (click) = func()>Invite</button>
            <button id="matchmakingButton">Matchmaking</button>
        </div>
    </div>
    </div>
</div>